*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/build/
core/build/
data/build/
domain/build/
konsist-tests/build/
layer-based/*/build/
feature-based/*/build/

*.sh
